/**
 * Shop System Plugins
 * - Terms of use can be found under
 * https://guides.qenta.com/shop_plugins:info
 * - License can be found under:
 * https://github.com/qenta-cee/prestashop-qcs/blob/master/LICENSE
*/

body, button, input, select, table, textarea {
    color: #636363;
    font-family: Arial, Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

.fieldlabel {
    -moz-user-select: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
    width: 200px;
    color: #333;
    float: none;
}

.fieldrow {
    margin-top: 8px;
}

.clearer_yesno {
    clear: both;
}

input {
    background-color: #fff;
    border: 1px solid #d6d4d4;
    border-radius: 1px;
    box-sizing: border-box;
    font-size: 13px;
    height: 27px;
    line-height: 18px;
    padding: 0 9px;
    font-weight: 400;
    vertical-align: baseline;
    width: 100%;
    color: #999999;
}

input:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

select {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #ccc;
    height: 27px;
    padding-right: 25px;
    text-indent: 0.01em;
    text-overflow: "";
    color: #999999;
}

#cardholder {
    width: 400px;
}

#pan {
    width: 225px;
}

#cvc {
    width: 80px;
}

#issueNumber {
    width: 60px;
}

